# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# Flask / SQLite
instance/
*.sqlite3
*.db

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
